# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/env_flask

# Ignore environment variables
.env

# Ignore SQLite database (if you don't want to version it)
site.db

# Ignore macOS system files
.DS_Store